.loginPage1 {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #167dde;
  border-radius: 8px;
  font-weight: bold;
  background-color: #e3eaeb;

  .form-group {
    margin-bottom: 15px;
    label { display: block; margin-bottom: 5px; }
    input { width: 100%; padding: 8px; box-sizing: border-box; border-radius: 3%;}
  }

  .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: rgb(18, 111, 216);
    border: none;
    cursor: pointer;
    &:disabled { background-color: #cccccc; }
  }

  .alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    &.success { background-color: #d4edda; color: #155724; }
    &.error { background-color: #f8d7da; color: #721c24; }
    &.info { background-color: #e2e3e5; color: #383d41; }
  }
}

